.feedback
{
  flex-direction: column;
}

.feedback__field
{
  position: relative;
  width: 100%;
  /*height: 3rem;*/
  margin-bottom: 2rem;
}

.feedback__input,
.feedback__textarea
{
  width: 100%;
  padding: .5rem;
  border: none;
  outline: 1px solid red;
}

.feedback__textarea
{
  height: 12.5rem;
  resize: none;
}

.feedback__label
{
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
  background-color: lightgreen;
}

.feedback__label::after
{
  content: '*';
  color: tomato;
}

.feedback__input:focus + .feedback__label,
.feedback__textarea:focus + .feedback__label
/*.feedback__input:valid + .feedback__label,
.feedback__textarea:valid + .feedback__label*/
{
  display: none;
}


.feedback__btn
{
  width: 100%;
}
