mixin form()
  +b('form')(method="POST", action='').feedback
      +e.field
          +b('input')(id="inputName", type='text', maxlength='100', required).textInput
          +b('label')(for='inputName').textInput-label Name
      +e.field
          +b('input')(id="inputEmail", type='email', name='_replyto', maxlength='100', required).textInput
          +b('label')(for='inputEmail').textInput-label Email
      +e.field
          +b('input')(id="inputSubject", type='text', name='_subject', maxlength='100', required).textInput
          +b('label')(for='inputSubject').textInput-label Subject
      +e.field
          +b('textarea')(id='inputMessage', name='message', maxlength='1000', required).textInput
          +b('label')(for='inputMessage').textInput-label
      input(type="hidden", name="_next", value="")
      +e('button')(type="submit").btn Submit
