.feedback
{
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.feedback__field
{
  position: relative;
  width: 100%;
  margin-bottom: var(--vr);
}

.feedback__input,
.feedback__textarea
{
  width: 100%;
  padding: calc(var(--vr) / 2);
  border: none;
  border: .13rem solid var(--mainBlack);
}

.feedback__textarea
{
  height: calc(var(--vr) * 10);
  resize: none;
}

.feedback__label
{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: calc(var(--vr) / 2);
  color: color(var(--mainBlack) w(40%));
}

.feedback__label--hide
{
  display: none;
}

.feedback__label::after
{
  content: '*';
  color: tomato;
}

.feedback__btn
{
  width: 0;
  padding: calc(var(--vr) / 2) 0;
  cursor: pointer;
  transition: width .8s ease;
  transition: all .3s ease, letter-spacing .3s ease-out;
  text-transform: uppercase;
  color: #fff;
  border: .2rem solid #fff;
  background-color: var(--mainBlack);
  line-height: 1.45;
}

.feedback__btn:hover
{
  color: var(--mainBlack);
  border: .2rem solid var(--mainBlack);
  background-color: #fff;
}

.feedback__btn:active
{
  letter-spacing: .3rem;
}

.feedback__input:focus + .feedback__label,
.feedback__textarea:focus + .feedback__label,
.feedback__input:valid + .feedback__label,
.feedback__textarea:valid + .feedback__label
{
  display: none;
}

.feedback__input:not(:focus):valid,
.feedback__textarea:not(:focus):valid
{
  box-shadow: inset 0 0 .5rem springgreen;
}

.feedback__input:focus:invalid,
.feedback__textarea:focus:invalid
{
  box-shadow: inset 0 0 .5rem tomato;
}

.feedback:valid .feedback__btn
{
  width: 100%;
}
