@lost flexbox flex;
@lost gutter 10px;

/* imports */

@import 'helpers/app-reset';
@import 'helpers/variables';
@import '../blocks/**/*.css';

body
{
  color: var(--mainBlack);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.45;
}

/* 23,2 */
