include ../container/container
include ../section/section
include ../home/home
include ../heading/heading
include ../subheading/subheading

mixin index()
  +b.index
    +container()
      +section()#home
        +home()
          +e.heading
            +heading() Gorgeous Design For Humans
            +subheading() 
              | Design is not just what it looks like and feels like. Design is how it works.
          +e.lion
            +icon('lion', 130, 167.251).lion
      +section().section-about#about
        p about section-about
