include ../container/container
include ../section/section
include ../home/home
include ../about/about
include ../heading/heading
include ../subheading/subheading
include ../triangle/triangle
include ../info/info
include ../social/social
include ../skills/skills
include ../portfolio/portfolio

mixin index()
  +b.index
    +container()
      +section()#home
        +home()
          +e.heading
            +heading() Gorgeous Design For Humans
            +subheading() 
              | Design is not just what it looks like and feels like. Design is how it works.
          +e.lion
            +icon('lion', 130, 167.251).lion

        +triangle().triangle--top-left.js-triangle
      +section()#about
        +about()
          +e.avatar
            +icon('avatar', 400, 385).avatar
            +social(getData('social'))
          +e.info
            +info()
              h2 Inin
              h3.light Front-end developer
              p I'm a front-end developer based in Moscow. I produce stylish and high-quality digital projects.
              p I'm available for freelance works.
          +e.skills
            +skills(getData('skills'))
      +section()#portfolio
        +portfolio()
        
