include ../container/container
include ../section/section
include ../home/home
include ../about/about
include ../heading/heading
include ../subheading/subheading
include ../triangle/triangle
include ../info/info
include ../social/social
include ../skills/skills
include ../portfolio/portfolio
include ../gallery/gallery
include ../contact/contact
include ../form/form

mixin index()
  +b.index
      +section()#home
        +home().gradient
          +container()
            .home__wrap
              .home__heading
                +heading() Gorgeous Design For Humans
                +subheading() 
                  | Design is not just what it looks like and feels like. Design is how it works.
              .home__image
                img(src="assets/images/lion.svg", alt="lion")
          +triangle().triangle__bottom.js-triangle
      +section()#about
        +about()
          +e.avatar
            +e.icon
              +e.CANVAS.canvas
              +icon('avatar').avatar
            +social(getData('social'))
          +e.info
            +info()
              +e.H2.title Inin
              h3.light Front-end developer
              p I'm a front-end developer based in Moscow. I produce stylish and high-quality digital projects.
          +e.skills
            +skills(getData('skills'))
      +section()#portfolio.gradient
        +portfolio().gradient
          +triangle().triangle__top.js-triangle
          +container()
            +gallery(getData('works'))
      +section()#contact
        +contact()
          h2.h2-center Get in touch
          +form()
          
