include ../container/container
include ../section/section

mixin index()
  +b.index
    +container()
      +section()
        p.r section home roboto medium
        p.rc section home roboto condensec light
