html
{
  font-size: 16px;
}

body
{
  color: var(--mainBlack);
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p
{
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4
{
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1
{
  margin-top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 6.854em;
}

h2
{
  font-size: 4.236em;
}

h3
{
  font-size: 2.618em;
}

h4
{
  font-size: 1.618em;
}

small
{
  font-size: .618em;
}
