:root
{
  --mainBlack: #222;
  --light: #a9a9a9;
  --gold: #ffd700;
  --baseFontSize: 1rem;
  --vr: calc(var(--baseFontSize) * 1.45);
}

@custom-media --xs (width > 20em);
@custom-media --s (width > 30em);
@custom-media --m (width > 40em);
@custom-media --l (width > 60em);
@custom-media --xl (width > 80em);
