:root
{
  --mainBlack: #222;
  --light: #a9a9a9;
  --gold: #ffd700;
  --gradient1: #4b1248;
  --gradient2: #f0c27b;
  --baseFontSize: 1rem;
  --vr: calc(var(--baseFontSize) * 1.45);
  --headerLargeHeight: 6.375rem;
}

@custom-media --xs (width > 20em);
@custom-media --s (width > 30em);
@custom-media --m (width > 40em);
@custom-media --l (width > 60em);
@custom-media --xl (width > 80em);

/* 20rem 320 */
/* 30rem 480 */
/* 40rem 640 */
/* 60rem 960 */
/* 80rem 1280 */
