.home
{
  position: relative;
  padding-top: 5%;
  padding-right: 6.25%;
  padding-bottom: 21%;
  padding-left: 6.25%;
}

.home__wrap
{
  flex-direction: row;
  width: 100%;
}

.home__heading
{
  lost-column: 1/2 0 0;

  flex-direction: column;
  border: 1px solid blue;
}

.home__lion
{
  lost-column: 1/2 0 0;

  justify-content: flex-end;
  border: 1px solid red;
}

.lion
{
  /*width: 81.25%;*/
  width: 300px;
  border: 1px solid green;
  fill: pink;
}
