.home
{
  background-image: linear-gradient(to left, #4b1248, #f0c27b);
}

/* 4b1248 80 */

/* f0c27b ff */

.home__heading
{
  lost-column: 1/2 0 0;
}

.home__lion
{
  lost-column: 1/2 0 0;
}

.lion
{
  width: 130px;
}
