.logo
{
  position: relative;
  width: 100%;
}

.logo__icon
{
  width: 3.125rem;
  transition: all .5s ease;
}

.logo__icon--front
{
  z-index: 2;
}

.logo__icon--back
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: all .5s ease-in-out .3s;
  opacity: 0;
}

@media (--m)
{
  .logo__icon
  {
    width: 4.375rem;
  }

  .logo__icon--back
  {
    transform: translateX(4.375rem);
    /*transform-origin: bottom;*/
    opacity: 1;
  }
}
