.logo
{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 3.125rem; /* 50/16 */
  height: 3.125rem; /* 50/16 */
  transition: all .3s ease;
}

.logo__inner,
.logo::before,
.logo::after
{
  position: absolute;
  z-index: -1;
  left: 0;
  display: flex;
  visibility: hidden;
  width: 100%;
  margin: 0;
  transition: all .3s ease-out;
  opacity: 0;
  font-size: .75rem;
}

.logo__inner
{
  top: 50%;
}

.logo::before
{
  top: 5%;
  content: 'Intelligence';
}

.logo::after
{
  bottom: 5%;
  content: 'Development';
}

.logo__icon
{
  width: 100%;
}

@media (--m)
{
  .logo
  {
    width: 4.375rem; /* 70/16 */
    height: 4.375rem; /* 70/16 */
  }

  .logo__inner,
  .logo::before,
  .logo::after
  {
    visibility: visible;
    transition: all .3s ease-in;
    transform: translateX(110%);
    opacity: 1;
  }

  .logo__inner
  {
    transform: translate(110%, -50%);
  }
}
