.social
{
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: 1.3rem;
}

.social__item
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.0625vw;
  min-width: 1.563rem;
  max-width: 4.688rem;
  min-height: 1.563rem;
  max-height: 2.813rem;
  margin: .313rem;
  padding: .25rem 0;
  border: 1px solid var(--mainBlack);
}

.social__icon
{
  width: 35.55555555555556%;
  min-width: 1rem;
  fill: var(--mainBlack);
  transition: all .3s ease-out;
}

.btn-hvr
{
  position: relative;
  transition: color .3s;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.btn-hvr::before
{
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  transition: transform .3s ease-out;
  transform: scaleY(0);
  transform-origin: 50%;
  background: var(--mainBlack);
}

.btn-hvr:hover .social__icon,
.btn-hvr:focus .social__icon,
.btn-hvr:active .social__icon
{
  fill: white;
  transform: scale(1.1);
}

.btn-hvr:hover::before,
.btn-hvr:focus::before,
.btn-hvr:active::before
{
  transform: scaleY(1);
}

@media (--m)
{
  .social__item
  {
    border-width: 2px;
  }
}
