.social
{
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: var(--vr);
}

.social__item
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.944444444444445vw;
  min-width: 2.813rem;
  max-width: 6.25rem;
  height: 4.652777777777778vw;
  min-height: 1.875rem;
  max-height: 4.188rem;
  margin-right: 5%;
  padding: .25rem 0;
  border: .1736111111111111vw solid var(--mainBlack);
}

.social__item:last-child
{
  margin-right: 0;
}

.social__icon
{
  width: 45%;
  min-width: 1.2rem;
  transition: all .3s ease-out;
  fill: var(--mainBlack);
}

.btn-hvr
{
  position: relative;
  transition: color .3s;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.btn-hvr::before
{
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  transition: transform .3s ease-out;
  transform: scaleY(0);
  transform-origin: 50%;
  background: var(--mainBlack);
}

.btn-hvr:hover .social__icon,
.btn-hvr:focus .social__icon,
.btn-hvr:active .social__icon
{
  transform: scale(1.1);
  fill: white;
}

.btn-hvr:hover::before,
.btn-hvr:focus::before,
.btn-hvr:active::before
{
  transform: scaleY(1);
}

@media (--m)
{
  .social
  {
    margin-top: calc(var(--vr) * 2);
  }
}
