.header
{
  z-index: 5;
  width: 100%;
}

.header__wrap
{
  justify-content: space-between;
  height: 3.125rem;
}

.header__logo
{
  align-items: center;
  flex-grow: 0;
}

.header__menu
{
  justify-content: flex-end;
  flex-grow: 1;
}

.fixed
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}

@media (--m)
{
  .header
  {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .header__wrap
  {
    height: 4.375rem;
  }

  .header__menu
  {
    flex-grow: 0;
    flex-basis: 30rem;
  }

  .fixed
  {
    margin-top: 0;
    box-shadow: 0 .125rem .125rem rgba(0, 0, 0, .5);
  }
}
