include ../container/container
include ../logo/logo
include ../menu/menu

mixin header()
  +container()
    +b.header&attributes(attributes)
      +e.logo
        +logo()
      +e.menu
        +menu(getData('menu'))
        
