include ../container/container
include ../logo/logo
include ../menu/menu

mixin header()
  +b.header&attributes(attributes)
    +container()
      .header__wrap
        .header__logo
          +logo()
        .header__menu
          +menu(getData('menu'))
          
