include ../container/container
include ../menu/menu

mixin header()
  +container()
    +b.header&attributes(attributes)
      +e.logo
        +icon('logo_small', 1, 1).logo.logo-s
        +icon('logo', 400, 200).logo.logo-l
      +e.menu
        +menu(getData('menu'))
