.menu
{
  width: 270px;
  background-color: tomato;
}

.menu__item
{
  outline: 1px solid blue;
  background-color: forestgreen;

  lost-column: 1/4 0 0;
}

.menu__icon
{
  width: 25px;
  outline: 1px solid black;

  fill: var(--mainBlack);
}
