.menu
{
  display: flex;
  width: 100%;
}

.menu__item
{
  lost-column: 1/4 0 0;

  justify-content: center;
  align-items: flex-end;
  padding-bottom: .75rem;
  cursor: pointer;
}

.menu__icon
{
  width: 1.563em;
  transition: transform .2s ease-in;
  fill: var(--mainBlack);
}

.menu__icon:hover
{
  transform: scale(1.1);
}

.menu__icon:active
{
  transform: scale(.8);
}

.hide-text
{
  overflow: hidden;
  white-space: nowrap;
  text-indent: -9999px;
}

@media (--s)
{
  .menu__icon
  {
    display: none;
  }

  .menu__item
  {
    align-items: center;
    padding-bottom: 0;
    font-size: responsive 1rem 1.618rem;
    font-range: 30rem 90rem;
    font-weight: 500;
  }

  .hide-text
  {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 0;
  }

  .hvr-under
  {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }

  .hvr-under::before
  {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    height: .25rem;
    content: '';
    transition: transform .3s ease-out;
    transform: translateY(-.25rem);
    background: var(--mainBlack);
  }

  .hvr-under:hover::before,
  .hvr-under:focus::before,
  .hvr-under:active::before
  {
    transform: translateY(0) scaleX(.8);
  }
}
