.footer
{
  height: calc(var(--vr) * 2);
  color: #fff;
  background-color: var(--mainBlack);
  align-items: center;
  padding: 0 calc(var(--vr) / 2);
}

.footer__copyright
{
  lost-column: 1/2 0 0;
}

.footer__author
{
  lost-column: 1/2 0 0;
  justify-content: flex-end;
}

.loco {
  display: inline-block;
  vertical-align: middle;
  padding: 0 .12rem;
  height: .618rem;
}
