include ../container/container

mixin footer()
    +b.footer&attributes(attributes)
      +container()
        .footer__wrap
          .footer__copyright
            small Copyright &copy;
            
          .footer__author 
            small powered by Puer
              +icon('loco', 45, 41).loco
            
