
.footer
{
  align-items: center;
  height: calc(var(--vr) * 2);
  padding: 0 calc(var(--vr) / 2);
  color: #fff;
  background-color: var(--mainBlack);
}

.footer__copyright
{
  lost-column: 1/2 0 0;
}

.footer__author
{
  lost-column: 1/2 0 0;

  justify-content: flex-end;
}

.loco
{
  display: inline-block;
  height: .618rem;
  padding: 0 .12rem;
  vertical-align: middle;
}
