include ../container/container

mixin footer()
  +container()
    +b.footer&attributes(attributes)
      +e.copyright
        small Copyright &copy;
        p.test
      +e.author 
        small powered by Puer
          +icon('loco', 45, 41).loco
        
