.skills
{
  flex-direction: column;
  width: 100%;
  background-color: gray;
  max-width: 25rem;
}

.checkbox
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  background-color: tomato;
  height: 9.375rem;
}

.checkbox__label
{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: lightgreen;
  font-size: 1rem;
}

.checkbox__label::before
{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  content: '';
  vertical-align: middle;
  background-image: svg('check-empty', '[fill]: var(--mainBlack)');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input[type='checkbox']:checked + .checkbox__label::before
{
  background-image: svg('check', '[fill]: var(--mainBlack)');
}
