.skills
{
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
}

.checkbox
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 9.375rem;
  padding: 0;
  list-style: none;
}

.checkbox__label
{
  display: flex;
  align-items: center;
  margin: 0 .3rem;
  cursor: pointer;
  font-size: responsive 1rem 1.618rem;
  font-range: 20rem 90rem;
}

.checkbox__label::before
{
  display: inline-block;
  width: 2.25vw;
  min-width: 1.563rem;
  height: 2.25vw;
  min-height: 1.563rem;
  margin-right: .625rem;
  content: '';
  vertical-align: middle;
  background-image: svg('check-empty', '[fill]: var(--mainBlack)');
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input[type='checkbox']:checked + .checkbox__label::before
{
  background-image: svg('check', '[fill]: var(--mainBlack)');
}

@media (--m)
{
  .checkbox
  {
    height: 12rem;
  }
}
